@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body {
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    font-size: 20px;
    color:  #eeede7;
    background-image: url("https://media3.giphy.com/media/aRZ4vTsHnyW6A/giphy.webp?cid=ecf05e47c07bav1n0pm8gqgl9oazilnbkp4a3979j6fgpvop&rid=giphy.webp&ct=g");
    background-size: cover;
}


.title {
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    font-size: 60px;
    color:  #501b1b;
    text-shadow: 1px 1px 1px  #fff5b8;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content {
    text-align: left;
    font-size: 25px;
    text-align: center;
    color: white; 
}


.box-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.25fr;
}

.box {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 1800px;
    /* align-items: flex-end; 
    justify-content: flex-end; */
    margin: 20px 0px 30px 30px;
    background-image: url("https://static.wixstatic.com/media/4c3267_2eb5ee90a5aa455582466714cfd45854~mv2.jpg");
    background-size: cover;
    overflow: hidden;
} 


.hero {
    height: 200px;
    width: 300px;
    position: absolute;
    left: 20px;
    align-items: flex-start;
    top: 80%;
}

.buid6 {
    height: 500px;
    width: 320px;
    align-items: flex-end;
    animation: img1 6s infinite; 
    top: 40%;
}


#name {
    font-size: 20px;
    color: yellow;
    text-shadow: 1px 1px 1px white;
    margin-left: -110px;
}

button {
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    font-size: 20px;
    color: black;
    border-radius: 55px;
    border: 1px solid black;
    text-shadow: 1px 1px 1px white;
    padding: 18px;
    margin-left: 200px;
  
}

button:hover {
    transform: translateY(-0.5em);
    background:  #3070ab;
    color: white;
   }
   
.buttons{
    display: flex;  
    margin-top: -10px;
    margin-left: 100px;
}

img{
    display: block;
    position: relative;

}

.coin {
    height: 80px;
    width: 80px;
    margin-top: 30%;
    margin-left: 96%;
    animation: coin 4s infinite;   
}

.coin1{
    height: 80px;
    width: 80px;
    margin-top: -10%;
    margin-left: 96%;
    animation: coin1 8s infinite;   
}

.metrics{
    color: #e8ea5d;
    font-size: 25px;
    text-shadow: 1px 1px 1px  #fff5b8;
    margin: -820px 0px 20px 80px;
    display: flex;
}

#Time {
    margin-left: 1480px;
}


@keyframes img1 {
    0% {left: 2900px}
    100% {left: -200px}
} 


@keyframes coin {
    0% {left: 700px}
    /* 0% {left: -1690px} */
    100% {left: -2000px}
    /* 100% {left: -1900px} */
} 


/* @keyframes coin1 {
    0% {left: 0px}
    100% {left: -3000px}
}  */

 @keyframes fly {
    0% {top: 400px;}
    300% {top: 100px;}
    40% {top: 400px;}
    100% {top: 300px;}
}   

.fly {
    animation: fly 20s;
}



.move {
  animation: img 1s infinite; 
}

.move {
    animation: imgMove 11s infinite reverse; 
}
   

